@model CourseViewModel

@{
    ViewData["Title"] = "Course Page";
}

<div class="panel panel-default course-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <!--td>&#x2714;</td-->
                <td>Id</td>
                <td>Title</td>
            </tr>
        </thead>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.Title</td>
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddCoursePartial", new Course())
    </div>
</div>